body {
	margin: 0;
	background: #ffdbda;
	font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
    background: #1b998b;
    font-size: 20px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #04151f;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #04151f;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #04151f;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.main{
    justify-content: center;
    margin: 25px;
    color: #04151f;
    font-size: 22px;
}

hr {
    color:#1b998b;
    border: 3px solid;
    border-radius: 3px;
}

.button {
    background-color: #cd2b17;
    border: none;
    color: #ffeded;
    font-size: 30px;
    padding: 15px 32px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.pagelinks {
    background-color: #cd2b17;
    border: none;
    color: #ffeded;
    font-size: 30px;
    padding: 15px 32px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}