<html>
	{% block head %}
	<head>
		<meta name="viewport">
		<link rel="stylesheet" href="static/style.css">
	</head>
	{% endblock %}
    <header>
		<div class="container">
		  <h1 class="logo"></h1>
		  <nav>
			<ul>
			{% block header %}
				<li><a href="{% url 'userhome' userid=userid.id%}">Home</a></li>
				<li><a href="{% url 'order' userid=userid.id%}">Order</a></li>
				<li><a href="logout">Logout</a></li>
  			{% endblock %}
			</ul>
		  </nav>
		</div>
	  </header>
	<body>
		<div class='main'>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html> 
