<html>
	<head>
		<meta name="viewport">
		<link rel="stylesheet" href="static/style.css">
	</head>
    <header>
		<div class="container">
		  <h1 class="logo"></h1>
		  <nav>
			<ul>
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Contact</a></li>
			  <li><a href="signup.html">Sign up</a></li>
			  <li><a href="login.html">Login</a></li>
			</ul>
		  </nav>
		</div>
	  </header>
	<head>
		{% block title %}
			<!-- Default title if non is supplied by another template -->
		{% endblock %}
	</head>
	<body>
	{% block content %}
    {% endblock %}
	</body>
</html> 
