{% extends 'base.html' %}
<head>
    <meta name="viewport">
    <link rel="stylesheet" href="static/style.css">
</head>


{% block content %}
    <h1>{{userid.username}} is ordering a pizza!</h1>
    <h4>Wood fired Pizza?</h4>
    <h4>How's pizza going to get a job now?</h4>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ orderpizza.as_p }}
        {% comment %} {{ orderpizza.toppings.as_p }} {% endcomment %}
        <button class="submit">Proceed to payment</button>
    </form>
{% endblock %}
